In [3]:
print ("Hello World")

Hello World

In [4]:
print("World")

World

In [5]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

In [6]:
print("123123123123123123123123123123123123123123123123 + 1")

123123123123123123123123123123123123123123123123 + 1

In [7]:
print(10)
print(type(10))

10
<class 'int'>

In [8]:
10

10

In [9]:
10+20

30

In [10]:
print(4.2)
print(type(4.2))
print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

In [11]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [12]:
print('Hacktiv8')
print(type('Hacktiv8'))

Hacktiv8
<class 'str'>

In [13]:
print("i'm a student")
print('The book title is :"Hacktiv8"')

i'm a student
The book title is :"Hacktiv8"

In [14]:
print("This string contains a single quote (') character.")

print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

#Boeland Type

In [15]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [16]:
type(true)

NameError: name 'true' is not defined

In [17]:
type(False)

bool

In [18]:
type(false)

NameError: name 'false' is not defined

In [19]:
n = 300
print(type(n))

<class 'int'>

In [22]:
n= 200.3
print(n)

200.3

In [23]:
print(type(n))

<class 'float'>

In [24]:
print("Hello World,n,12132")

Hello World,n,12132

#Chained Assement

In [25]:
a = b = c = 300
print(a,b,c)

300 300 300

#Variable Type In Python

In [26]:
var = 23.5
print(var)

var= "Now i'm a string"
print(var)

23.5
Now i'm a string

In [27]:
var = 23.5
print(var)
print(type(var))

var= "Now i'm a string"
print(var)

23.5
<class 'float'>
Now i'm a string

In [28]:
var= "Now i'm a string"
print(var)
print(type(var))

Now i'm a string
<class 'str'>

In [29]:
nama = "Ani"
Nama = "Ina"

In [30]:
print(nama,Nama)

Ani Ina

In [31]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name,Age,has_laptops)

Hacktiv8 54 True

In [32]:
name = "9Hacktiv8"
Age = 54
has_laptops = True
print(name,Age,has_laptops)

9Hacktiv8 54 True

In [33]:
9_kepala_naga = True

SyntaxError: invalid decimal literal (687628429.py, line 1)

In [37]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8
print(age,Age,aGe,AGE,a_g_e,_age,age_,_AGE_)

1 2 3 4 5 6 7 8

In [42]:
camelCase = 'example of camelCase'
PascalCase = 'example of PascalCase'
snake_case = 'example of snake_case'

Operators ans expressions in Python

In [43]:
a = 10
b = 20 
a+b

30

In [44]:
a = 10
b = 20 
a + b - 5

25

Arithmetic Operators

In [45]:
a = 4
b = 3

print(a + b) #7
print(a - b) #1
print(a * b) #12
print(a / b)  #division    #1.333
print(a // b) #integer division 1
print(a % b)  #modulo 1
print(a ** b) #pangkat 64

7
1
12
1.3333333333333333
1
1
64

In [46]:
10/5

2.0

Comparison Operators

In [49]:
from turtle import pen


a = 10
b = 20
print(a == b)
print(a != b)
print(a <= b)
print (a >= b)

a = 30
b = 30
print(a == b)
print(a <= b)
print(a >= b)

False
True
True
False
True
True
True

String Manipulation

In [1]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)
print(s + t + u)
print('Hacktiv8' + 'PTP')

foobar
foobarbaz
Hacktiv8PTP

In [2]:
stu = s + t + u
print(stu)

foobarbaz

In [3]:
concatenated_string = 'Hacktiv8' + stu
concatenated_string

'Hacktiv8foobarbaz'

In [4]:
s = 'foo.'
s*4

'foo.foo.foo.foo.'

In [7]:
s = 15 #int
s = 15.5 #float

s * 4

62.0

In [8]:
s = 15 #int
s = 15.5 #float
s = 'foo'
s * 4

'foofoofoofoo'

In [9]:
s*5

'foofoofoofoofoo'

In [10]:
s*5+"hello"

'foofoofoofoofoohello'

In [11]:
s = 'foo'
print(s in "That food for us")
print(s in "That good for us")

True
False

In [16]:
#Case Conversion
s = 'HackTIV8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

#Swapcase 
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

In [20]:
# .capitalize() vs .title()

s = 'hello world'
print('Capitalized ', s.capitalize())
print('Titled ', s.title())

Capitalized  Hello world
Titled  Hello World

Python List

In [21]:
a = []

In [22]:
type(a)

list

In [24]:
a = ['foo','bar','baz','quz']
print(a)#mengisi list

['foo', 'bar', 'baz', 'quz']

In [25]:
type(a)

list

In [26]:
a.append('hoax') #cara mengisi list satuper satu

In [27]:
print(a)

['foo', 'bar', 'baz', 'quz', 'hoax']

In [28]:
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [29]:
dir (s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

List Are Ordered

In [30]:
a = ['foo','bar','baz','qux']
b = ['baz','quz','bar','foo']

a == b

False

In [33]:
a = ['foo','bar','baz','qux','quux','corge']
print (a[0])
print (a[5])
print (a[-1])
print (a[-6])

foo
corge
corge
foo

In [34]:
a = ['foo','bar','baz','qux','quux','corge']
a[2:5]

['baz', 'qux', 'quux']

In [35]:
print(a)
print(a + ['grault','garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [36]:
print(a)
print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

In [37]:
a = ['foo','bar','baz','quz','quux','corge']
print(a)
a[2] = 10
a[-1] = 20
print(a)

['foo', 'bar', 'baz', 'quz', 'quux', 'corge']
['foo', 'bar', 10, 'quz', 'quux', 20]

In [39]:
del a[3]
print(a)

['foo', 'bar', 10, 20]

In [40]:
a = ['foo','bar','baz','qux','quux','corge']
a[2:]

['baz', 'qux', 'quux', 'corge']

In [41]:
a = ['foo','bar','baz','qux','quux','corge']
a[:3]

['foo', 'bar', 'baz']

In [42]:
coins = [12,300,45,100,4,90,87]
print(len(coins))
print(min(coins))
print(max(coins))

7
4
300

In [43]:
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [46]:
del a[3]

In [47]:
print(a)

['foo', 'bar', 'baz', 'quux', 'corge']

In [48]:
a = ['foo','bar','baz','qux','quux','corge']
print(a[1:4])
a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]
print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

Python Tuples

In [49]:
t = ()
print(type(t))

<class 'tuple'>

In [50]:
t = ('foo','bar','baz','qux','quux','corge')
print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [51]:
t[0]

'foo'

In [52]:
t[-1]

'corge'

In [53]:
# packing and unpacking
(s1,s2,s3,s4) = ('foo','bar','baz','qux')
s1

'foo'

In [54]:
t1 = (9)
print(type(t1))

t1 = (9,)
print(type(t1))

<class 'int'>
<class 'tuple'>

In [55]:
MLB_team={}
print(type(MLB_team))

<class 'dict'>

In [58]:
MLB_team = {
    'Colorado':'Rockies',
    'Boston': 'Red Sox',
    'Minnesota' :'Twins',
    'Milwaukee' : 'Brewers',
    'Seatle' : 'Mariners'
}

In [59]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seatle': 'Mariners'}

In [60]:
from re import M


MLB_team={}
print(MLB_team)
MLB_team['Surabaya'] = 'Red Fox'
print(MLB_team)

{}
{'Surabaya': 'Red Fox'}

In [61]:
MLB_team

{'Surabaya': 'Red Fox'}

In [62]:
MLB_team = {
    'Colorado':'Rockies',
    'Boston': 'Red Sox',
    'Minnesota' :'Twins',
    'Milwaukee' : 'Brewers',
    'Seatle' : 'Mariners'
}

In [63]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seatle': 'Mariners'}

In [64]:
MLB_team['Colorado']

'Rockies'

In [65]:
MLB_team['Colorado']="Rock"

In [66]:
MLB_team['Colorado']

'Rock'

In [67]:
del MLB_team['Colorado']

In [68]:
MLB_team

{'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seatle': 'Mariners'}

In [69]:
person ={}
print(person)
print(type(person))

{}
<class 'dict'>

In [71]:
person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age']= 51
person['spouse'] = 'Edha'
person['children'] = ['Ralph','Betty','Joey']
person['pets']={'dog':'Fido','cat':'Sox'}

In [72]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edha',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [73]:
person['children']

['Ralph', 'Betty', 'Joey']

In [74]:
person['children'][1]

'Betty'

In [75]:
person['pets']

{'dog': 'Fido', 'cat': 'Sox'}

In [76]:
person['pets']['cat']

'Sox'

In [77]:
person['pets']['dog']

'Fido'

In [78]:
d = {'a': 10,'b':20, 'c':30}
print(d.items())

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [79]:
print(d.keys())

dict_keys(['a', 'b', 'c'])

In [80]:
print(d.values())

dict_values([10, 20, 30])

In [87]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65)or(person2_age >= 18 and person2_age <= 65)or(person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [89]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
)
someone_is_of_working_age

True